{% extends_admingenerated "NitraSeoBundle:SeoTemplateList:row.html.twig" %}

{% block list_td_column_ligaments %}
    {% for ligament in SeoTemplate.ligaments %}
        <p>
            {% set items = [] %}
            {% for item in ligament %}
                {% set items = items|merge([ item.data|json_decode(true).text ]) %}
            {% endfor %}
            {{ items|join(', ') }}
        </p>
    {% endfor %}
{% endblock list_td_column_ligaments %}