{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ parent() }} - {{ title ? title : 'Seo' }}
{% endblock title %}

{% block body %}
    {% block page_title %}
        <header>
            <h1>{{ title ? title : 'Seo' }}</h1>
        </header>
    {% endblock page_title %}
    <div class="row-fluid">
        {% block form %}
            {{ form_start(form) }}
                <div class="seo_template_help">
                    {{ 'forInsertField'|trans({},'NitraSeoBundle')|raw }}
                    {{ 'forInsertFieldFilter'|trans({},'NitraSeoBundle')|raw }}
                </div>
                
                <fieldset class="form_block form_fieldset_NONE">
                    {{ form_rest(form) }}
                </fieldset>
                {% block form_buttons %}
                    <div id="edit-actions" class="actions form-actions">
                        {% block form_actions %}
                            <a class="i_list button_icon" href="{{ path(listRoute) }}">{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                            <input type="submit" name="save" class="i_save btn-success" value="{% trans from "Admingenerator" %}action.generic.save{% endtrans %}" />
                            <input type="submit" name="save-and-list" class="i_save-and-list btn-info" value="{% trans from "Admingenerator" %}action.generic.save-and-list{% endtrans %}" />
                        {% endblock form_actions %}
                    </div>
                {% endblock form_buttons %}
            {{ form_end(form) }}
        {% endblock form %}
    </div>
{% endblock body %}