{% extends_admingenerated "NitraSeoBundle:SeoTemplateEdit:index.html.twig" %}

{% block javascript_head%}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('form').submit(function() {
                $('div.form_row.field_ligaments.field_nlcollection > .field_content > ul.nlcollection > li').each(function() {
                    var i = 0;
                    $(this).find('ul.nlcollection > li').each(function() {
                        $(this).find('input[type=hidden][id$=order]').val(i);
                        i ++;
                    });
                });
            });

            $('#{{ form.location.vars.id }}').on('change', function() {
                onChangeLocation(this);
            });
            onChangeLocation($('#{{ form['location'].vars.id }}'));

            $('#{{ form.location.vars.id }}').after('<div class="seo_template_help">{{ 'forInsertField'|trans({},'NitraSeoBundle')|raw }}<div id="possible_fields_of_documents"></div></div>');

            $('div.form_row.field_ligaments.field_nlcollection > .field_content > ul > li > ul').sortable({
                items:  "> li"
            });
            $('form').on('change', '[id^={{ form.ligaments.vars.id }}]', function(e) {
                onChangeLigaments(e);
            });
            $('.select2-offscreen[id^={{ form.ligaments.vars.id }}]').each(function() {
                var strVal  = $(this).val();
                var jsonVal = JSON.parse(strVal);
                onChangeLigaments({
                    currentTarget: this,
                    added:         jsonVal
                });
                $(this).select2("data", jsonVal);
                $(this).val(strVal);
            });
        });

        function functionLoadAllowedValues(query) {
            $.post("{{ path("load-ligaments") }}", {term: query.term}, function(result) {
                var data = {results: []};
                for (var id in result) {
                    data.results.push({id: id, text: result[id].label, placeholder: result[id].placeholder});
                }
                query.callback(data);
            });
        }

        function onChangeLigaments(e) {
            var $container = $(e.currentTarget).parent();
            if (!$container.find('span.placeholder').length) {
                $container.append('<span class="placeholder" style="display: block; text-align: center;"></span>');
            }
            var $placeholder = $container.find('span.placeholder');
            $placeholder.text('{' + e.added.placeholder + '}');
            $(e.currentTarget).val(JSON.stringify(e.added));
        }

        function initSortableForLigament(liItem) {
            liItem.children('ul').sortable({
                items:  "> li"
            });
        }

        function onChangeLocation(e) {
            if ($(e).val() != '') {
                $.ajax({
                    url: '{{ path("Nitra_SeoBundle_SeoTemplateLocation_object", {'pk': 'uid', 'action': 'getAjaxFields'}) }}'.replace('uid', $(e).val()),
                    type: 'POST',
                    success: function(response) {
                        $('#possible_fields_of_documents').empty();
                        var possibles = '';
                        $.each(response, function(id, name) {
                            possibles += "<span>{" + id + "} - " + name + "</span><br>";
                        });
                        $('#possible_fields_of_documents').html(possibles);
                        $('.seo_template_help').show(0);
                    }
                });
            } else {
                $('#possible_fields_of_documents').empty();
                $('.seo_template_help').hide(0);
            }
        }
    </script>
{% endblock javascript_head %}