{% extends_admingenerated "NitraSeoBundle:SeoTemplateNew:index.html.twig" %}

{% block javascript_head%}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#{{ form['location'].vars.id }}').on('change', function(){
                changeField(this);
            });
            $('#{{ form['location'].vars.id }}').after('<div class="seo_template_help">{{ 'forInsertField'|trans({},'NitraSeoBundle')|raw }}<div id="possible_fields_of_documents"></div></div>');
            $('.seo_template_help').hide(0);
        });
        function changeField(e) {
            if ($(e).val() != '') {
                $.ajax({
                    url: '{{ path("Nitra_SeoBundle_SeoTemplateLocation_object", {'pk': 'uid', 'action': 'getAjaxFields'}) }}'.replace('uid', $(e).val()),
                    type: 'POST',
                    success: function(response) {
                        $('#possible_fields_of_documents').empty();
                        var possibles = '';
                        $.each(response, function(id, name) {
                            possibles += "<span>{" + id + "} - " + name + "</span><br>";
                        });
                        $('#possible_fields_of_documents').html(possibles);
                        $('.seo_template_help').show(0);
                    }
                });
            } else {
                $('#possible_fields_of_documents').empty();
                $('.seo_template_help').hide(0);
            }
        }
    </script>
{% endblock javascript_head %}